@use "@/styles/nav.scss" as *;
@use "@/styles/general.scss" as *;

.NavRightSide {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.profileIcon {
  position: relative;
  i {
    font-size: $navProfileIconSize;
    color: $navProfileIconColor;
    cursor: pointer;
  }
}

.languageSelect {
  font-size: $generalFontSize;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: $navLanguageSelectColor;
  cursor: pointer;
  outline: none;
  font-family: $generalFontFamily;
}

.profileDropdown {
  position: absolute;
  right: 0;
  top: 55px;
  background: $navProfileDropdownBGColor;
  width: 150px;
  border-radius: $navProfileDropdownBorderRadius;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.3s ease;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  &.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    li {
      background: #f2f3f4;
      width: 100%;
      border-radius: 7px;
      padding: 5px 0;
      text-align: center;
      color: $navProfileDropdownColor;
      font-weight: 500;
      font-family: $generalFontFamily;
      cursor: pointer;
      font-size: $generalFontSize;

      i {
        font-size: $navProfileDropdownIconSize;
      }
    }
  }
}
