@use "@/styles/todosidebar.scss" as *;
@use "@/styles/general.scss" as *;

.ToDoSideBarContent {
  background: white;
  height: 100vh;
  transition: all 0.3s ease;
  padding-top: 10px;
  font-family: $generalFontFamily;
}

/* открытый сайдбар */
.open {
  width: 250px;
  box-shadow: 5px 0 10px -5px rgba(0, 0, 0, .2);
}

/* закрытый сайдбар (только иконки) */
.closed {
  width: 70px;
  box-shadow: none;
}

.ToDoSideBarItem {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 5px;
  border-radius: 0 30px 30px 0;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $ToDoSideBarItemBGHoverColor;
  }
}

.icon {
  font-size: $ToDoSideBarIconSize;
  color: $ToDoSideBarIconColor;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px 12px;
  background: none;
  transition: $ToDoSideBarIconTransition;

  &:hover {
    background-color: $ToDoSideBarIconBGHoverColor;
  }
}

.label {
  font-size: $generalFontSize;
  font-weight: 500;
  color: $ToDoSideBarLabelColor;
  white-space: nowrap;
}
