$navBorderBottomColor: 1px solid #e0e0e0;
$navMenuIconSize: 22px;
$navMenuIconTransitionTime: 0.3s;
$navMenuIconTransition: all $navMenuIconTransitionTime ease;
$navMenuIconBGHoverColor: #f2f3f4;
$navLogoWidth: 40px;
$navLogoHeight: 40px;
$navSearchIconColor: #5f6368;
$navSearchIconSize: 18px;
$navSearchInputBGColor: #f2f3f4;
$navSearchInpurBorderRadius: 5px;
$navSearchInputSize: 16px;
$navSearchInputColor: #6f6f70;
$navSearchInputFocusBGColor: #ffffff;
$navSearchInputFocusBoxShadow: 0 1px 6px rgba(32, 33, 36, 0.28);
$navProfileIconSize: 29px;
$navProfileIconColor: #5f6368;
$navLanguageSelectColor: $navSearchInputColor;
$navProfileDropdownBGColor: #ffffff;
$navProfileDropdownIconSize: 15px;
$navProfileDropdownBorderColor: #dadadc;
$navProfileDropdownBorderRadius: 9px;
$navProfileDropdownColor: #6f6f70;  
$navProfileDropdownTransitionTime: 0.3s;
$navProfileDropdownTransition: all $navProfileDropdownTransitionTime ease;
