$sideBarIconSize: 24px;
$sideBarIconColor: #5f6368;
$sideBarIconTransitionTime: 0.3s;
$sideBarIconTransition: all $sideBarIconTransitionTime ease;
$sideBarIconBGHoverColor: #f2f3f4;
$sideBarLabelFontSize: 16px;
$sideBarLabelColor: #202124;
$sidebarItemBGHoverColor: $sideBarIconBGHoverColor;