$ToDoSideBarIconSize: 24px;
$ToDoSideBarIconColor: #5f6368;
$ToDoSideBarIconTransitionTime: 0.3s;
$ToDoSideBarIconTransition: all $ToDoSideBarIconTransitionTime ease;
$ToDoSideBarIconBGHoverColor: #f2f3f4;
$ToDoSideBarLabelFontSize: 16px;
$ToDoSideBarLabelColor: #6f6f70;
$ToDoSideBarItemBGHoverColor: $ToDoSideBarIconBGHoverColor;
