@use '@/styles/nav.scss' as *;

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 20px 10px 20px;
  border-bottom: $navBorderBottomColor;
}


