@use "@/styles/nav.scss" as *;
@use "@/styles/general.scss" as *;

.rightSide {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;

  i {
    font-size: $navProfileIconSize;
    color: $navProfileIconColor;
  }
}

.languageSelect {
  font-size: $generalFontSize;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: $navLanguageSelectColor;
  cursor: pointer;
  outline: none;
}
